.blogs-container {
  padding-bottom: 6rem;
  padding-left: 6rem;
  padding-right: 6rem;

  h3,
  p {
    color: var(--black);
  }

  h3 {
    text-align: center;
    padding: 2rem 0;
  }

  .category-container {
    padding: 2rem 2rem;
    border-top: 1px solid var(--ash-gray);
    border-bottom: 1px solid var(--ash-gray);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    text-align: center;

    .blogs-flex-container {
      display: flex;
      width: 100%;
      justify-content: space-between;
      gap: 2rem;

      div {
        position: relative;
        height: 315px;
        width: 250px;
        background-color: royalblue;

        img {
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          cursor: pointer;
          transition: all 0.5s ease-in-out;

          &:hover {
            transform: scale(1.1);
            box-shadow: 0px 0px 40px rgb(250, 219, 178);
          }
        }

        a {
          position: absolute;
          bottom: 0;
          z-index: 2;
          left: 50%;
        }

        span {
          z-index: 2;
        }
      }
    }

    button {
      min-width: 140px;
      min-height: 40px;
      background-color: transparent;
      cursor: pointer;
      transition: all 0.55s ease;
      border: 1px solid var(--black);

      &:hover {
        background-color: black;
        color: white;
        transform: scale(1.1);
        border: none;
      }
    }
  }
}
