nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;

  h1 {
    color: var(--black);
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    li {
      list-style: none;

      a {
        text-decoration: none;
        color: black;
        transition: all 0.2s ease;
      }

      a:hover {
        color: var(--beige);
      }
    }
  }
}
