footer {
  background-color: var(--ash-gray);

  div {
    display: flex;
    flex-basis: 300px;
    padding: 40px 60px;
    border-top: 2px solid var(--light-gray);

    div:nth-child(2) {
      border-left: 2px solid var(--light-gray);
      border-right: 2px solid var(--light-gray);
    }

    div {
      display: flex;
      flex-direction: column;
      border-bottom: 2px solid var(--light-gray);

      h3 {
        color: var(--light-gray);
      }

      ul {
        li {
          list-style: none;

          a {
            text-decoration: none;
            color: var(--light-gray);
          }
        }
      }
    }
  }
}
