footer {
  background-color: var(--ash-gray);
  padding: 2rem 4rem 0 4rem;

  div {
    flex-basis: 300px;
    padding: 0 2rem;
    justify-content: space-around;

    div:nth-child(2) {
      border-left: 1px solid var(--light-gray);
      border-right: 1px solid var(--light-gray);
      min-width: 350px;
    }

    div {
      display: flex;
      gap: 1rem;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      text-align: center;

      h3 {
        color: var(--light-gray);
      }

      .punchline {
        text-align: center;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        li {
          list-style: none;

          a {
            text-decoration: none;
            color: var(--light-gray);
            transition: all 0.2s ease;
          }

          a:hover {
            color: var(--beige);
          }
        }
      }
    }
  }
}

.flex-container {
  display: flex;
  border-top: 2px solid var(--light-gray);
  border-bottom: 2px solid var(--light-gray);
  padding: 2rem 0;
}

.copyright {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;

  h3 {
    text-transform: uppercase;
  }
}
