.about-container {
  padding: 6rem;

  div {
    padding: 4rem 2rem;
    border-top: 1px solid var(--ash-gray);
    border-bottom: 1px solid var(--ash-gray);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;

    h3,
    p {
      color: var(--black);
    }
  }
}
