.home-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.nav-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  a,
  h1 {
    color: white;
  }
}

.hero-content {
  color: white;
  text-align: center;
  position: absolute;

  gap: 2rem;
  top: 20%;
  right: 10%;

  h1 {
    font-family: "Playfair Display";
    font-size: 48px;
  }

  p {
    margin-top: 2rem;
    font-size: 14px;
  }

  button {
    margin-top: 5rem;
    padding: 0.5rem 4rem;
    background: none;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    transition: all 0.35s ease-in;
    font-family: "Playfair Display";
    font-size: 14px;

    &:hover {
      background-color: beige;
      color: black;
      transform: scale(1.03);
    }
  }
}

.hero-about-section {
  padding: 1rem 4rem;
  display: flex;
  flex-direction: column;

  p,
  h2 {
    color: black;
  }

  h2 {
    text-align: center;
  }

  .hero-about-content {
    padding-top: 2rem;
    display: flex;
    gap: 6rem;
  }

  button {
    margin: 3rem;
    padding: 0.5rem 4rem;
    align-self: center;
    background: none;
    width: 30%;
    cursor: pointer;
    transition: all 0.35s ease-in;
    font-family: "Playfair Display";
    font-size: 14px;

    &:hover {
      background-color: beige;
      color: black;
      transform: scale(1.03);
    }
  }
}
