.home-container {
  position: relative;

  width: 100%;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home-section {
  flex: 1;
  position: relative;
  overflow: hidden;
  p {
    color: var(--black);
    max-width: 100%;
    overflow-wrap: break-word;
  }
}
