@import url("./imports.css");

:root {
  --ash-gray: #2f2f2f;
  --light-gray: #cdcaca;
  --white: #fff;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p,
span,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}
